<footer class="footer bg-light py-3 mt-auto">
    <div class="container">
      <div class="footer-links">
        <div class="row">

          <div class="col-md-3">
            <h5>Bid Now</h5>
            <ul class="list-unstyled">
              <li><a href="/help-center">Electronics</a></li>
              <li><a href="/contact-us">Home & Graden</a></li>
              <li><a href="/submit-an-idea">Entertainement</a></li>
              <li><a href="/submit-an-idea">Clothing and accessories</a></li>
              <li><a href="/submit-an-idea">Sports & outdoors</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Company</h5>
            <ul class="list-unstyled">
              <li><a href="/about-us">About Us</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/termsAndConditions">Terms and Conditions</a></li>
              <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Follow Us</h5>
            <ul class="list-unstyled">
              <li><a href="#"><i class="fab fa-facebook fa-lg"></i> Facebook</a></li>
              <li><a href="#"><i class="fab fa-twitter fa-lg"></i> Twitter</a></li>
              <li><a href="#"><i class="fab fa-instagram fa-lg"></i> Instagram</a></li>
              <li><a href="#"><i class="fab fa-linkedin fa-lg"></i> Linkedin</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5>Help</h5>
            <ul class="list-unstyled">
              <li><a href="/help-center">Help Center</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/submit-an-idea">Submit an Idea</a></li>
              <li><a href="/faq">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-danger text-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            &copy; 2023 BidMart All rights reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
  