<% layout("layouts/boilerplate") %>
<div class="container"> 
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h1 class="text-center mb-4">Create a Listing</h1>
            <div class="card mb-5 mt-5">
                <div class="card-body">
                    <form action="/listings" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="mb-3">
                            <input type="hidden" name="startTime" value="<%= startTime %>">
                        </div>
                    
                        <div class="mb-3">
                            <input type="hidden" name="endTime" value="<%= endTime %>">
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                              <div class="invalid-feedback"> class="form-label"
                                Enter a title to continue.
                              </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label" for="price">Price</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="number" class="form-control" id="price" name="price" required>
                                <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                  <div class="invalid-feedback">
                                    Enter a price to continue.
                                  </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="condition">Condition:</label>
                            <select class="form-select" id="condition" name="condition" required>
                                <option value="">Choose...</option>
                                <option value="New">New</option>
                                <option value="Used-like new">Used-like new</option>
                                <option value="Used-good">Used-good</option>
                                <option value="Used-fair">Used-fair</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                                Please select the condition of the item.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="category">Category</label>
                            <select class="form-select" id="category" name="category" required>
                                <option value="">Choose...</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Home & Garden">Home & Garden</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Sports and outdoors">Sports and outdoors</option>
                                <option value="Clothing and accessories">Clothing and accessories</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                                Please select a category.
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="location">Location:</label>
                            <input type="text" class="form-control" id="location" name="location" required>
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                              <div class="invalid-feedback">
                                Enter a location to continue.
                              </div>
                        </div>

                        <div class="mb-3">
                            <label for="image" class="form-label">Images:</label>
                            <div class="input-group mb-3">
                                <input multiple type="file" class="form-control" id="image" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-success">Add Listing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

