<% layout("layouts/boilerplate") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-6 offset-3 mt-5">
      <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Oops! <%= err.message %></h4>
        <p><%= err.stack %></p>
        <p>We're sorry, but something went wrong.</p>
        <a href="/listings" class="btn btn-primary">Go to Listings</a>
      </div>
    </div>
  </div>
</div>

