<% layout("layouts/boilerplate") %>
<div class="container">
      <div class="row my-5">
        <div class="col-md-6">
          <h1>About Us</h1>
          <p>We are a leading online auction platform that allows buyers and sellers to trade goods and services. Our mission is to make buying and selling easy and convenient for everyone, while also providing a safe and secure platform.</p>
          <p>We have a team of experienced professionals who are dedicated to ensuring that our platform is always up-to-date and easy to use. Our platform is designed to offer the best user experience, with advanced search features, secure payment options, and reliable shipping.</p>
          <p>
            BidMart is a leading online auction platform that offers a wide range of products to our customers. We pride ourselves on our commitment to providing exceptional customer service and quality products at affordable prices.

We were founded in 2010 by a group of entrepreneurs who wanted to create an online auction platform that was accessible to everyone. Today, we have grown to become one of the largest online auction platforms in the world.

At BidMart, we believe that our success is driven by our customers. That's why we are dedicated to providing the best possible customer service and making sure that our customers are satisfied with their purchases.

Thank you for choosing BidMart as your go-to online auction platform. We look forward to serving you and making your auction experience a memorable one.
          </p>
        </div>
        <div class="col-md-6">
          <img src="https://dummyimage.com/600x400/000/fff" alt="About Us Image" class="img-fluid">
        </div>
      </div>
      <hr>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card">
            <img src="https://dummyimage.com/400x300/000/fff" alt="Our Mission" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Our Mission</h5>
              <p class="card-text">Our mission is to create a transparent and efficient marketplace for buyers and sellers, where everyone can trade goods and services easily and securely.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://dummyimage.com/400x300/000/fff" alt="Our Values" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Our Values</h5>
              <ul class="list-unstyled">
                <li>Integrity</li>
                <li>Transparency</li>
                <li>Customer Satisfaction</li>
                <li>Continuous Improvement</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="https://dummyimage.com/400x300/000/fff" alt="Our Team" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Our Team</h5>
              <p class="card-text">Our team is made up of experienced professionals who are passionate about creating a better online marketplace for everyone. We are dedicated to providing the best user experience and customer support.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
