<% layout("layouts/boilerplate") %>
<head>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<main class="container mt-5 my-5 p-5 mb-5" style="background-color: #f9f9f9;">
  <div class="row">
    <div class="col-md-6">
      <h1>About Us</h1>
      <p>Welcome to BidMart, a new online auction platform that provides a safe and secure platform for buyers and sellers to trade goods and services.</p>
      <p>Founded in 2023 by two individuals, BidMart is dedicated to creating an online auction platform that is accessible to everyone. Our mission is to make it easy for people to buy and sell items online in a safe and secure environment.</p>
      <p>Although we are just starting out, we have a team of experienced professionals who are dedicated to ensuring that our platform is always up-to-date and easy to use. We are committed to improving and expanding our platform to offer the best possible experience to our users.</p>
      <p>At BidMart, we believe that our success is driven by our customers. That's why we are dedicated to providing the best possible customer service and making sure that our customers are satisfied with their purchases. While we do not currently offer advanced search features, secure payment options, or reliable shipping, we are constantly exploring new ways to improve our platform and offer more value to our users.</p>
      <p>Thank you for choosing BidMart as your go-to online auction platform. We look forward to serving you and making your auction experience a positive one.</p>
    </div>
    <div class="col-md-6">
      <img src="https://dummyimage.com/600x400/000/fff" alt="About Us Image" class="img-fluid">
    </div>
  </div>
  <hr class="my-5">
  <div class="row my-5">
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.pexels.com/photos/7666429/pexels-photo-7666429.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Our Mission" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Our Mission</h5>
          <p class="card-text">Our mission is to create a transparent and efficient marketplace for buyers and sellers, where everyone can trade goods and services easily and securely.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1448&q=80" alt="Our Values" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Our Values</h5>
          <ul class="list-unstyled">
            <li>Integrity</li>
            <li>Transparency</li>
            <li>Customer Satisfaction</li>
            <li>Continuous Improvement</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <img src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8b3VyJTIwdGVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt="Our Team" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Our Team</h5>
          <p class="card-text">Our team is made up of experienced professionals who are passionate about creating a better online marketplace for everyone. We are dedicated to providing the best user experience and customer support.</p>
        </div>
      </div>
    </div>
  </div>
</main>

