<% layout("layouts/boilerplate") %>
<main class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Contact Us</h2>
        <p>Do you have any questions or feedback for us? Please use the form below to get in touch with us.</p>
        <form method="post" action="contact-us" class="needs-validation" novalidate>
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name" required>
            <div class="valid-feedback">
              Looks goods
            </div>
            <div class="invalid-feedback">
              Enter a valid name to continue
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
            <div class="valid-feedback">
              Looks goods
            </div>
            <div class="invalid-feedback">
              Enter a valid email address to continue
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="message">Message</label>
            <textarea name="message" class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Enter a valid message to continue
            </div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Visit Us</h2>
        <p>Do you want to visit our office or showroom? You can find us at the address below:</p>
        <p>BidMart Inc.</p>
        <p>2 Ryan road</p>
        <p>Cape Town, 7700</p>
        <p>Phone: (27) 796-791-880</p>
        <p>Email: bidmartadm@gmail.com</p>
        <div class="mb-5">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5594.556209756127!2d18.472395!3d-33.954158000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc420f6f8c8d23%3A0x919f84d6b92e8f28!2s2%20Ryan%20Rd%2C%20Cape%20Town%2C%207700%2C%20South%20Africa!5e0!3m2!1sen!2sus!4v1650190858356!5m2!1sen!2sus" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      
    </div>
  </main>
  