<% layout("layouts/boilerplate") %>
  <!-- Main Content -->
  <div class="container my-5">
    <h1 class="text-center mb-5">BidMart Help Center</h1>
    <div class="row">
      <div class="col-lg-3">
        <!-- Sidebar -->
        <nav class="nav flex-column nav-pills">
          <a class="nav-link active" aria-current="page" href="#">Getting Started</a>
          <a class="nav-link" href="#">Bidding</a>
          <a class="nav-link" href="#">Payments</a>
          <a class="nav-link" href="#">Account Settings</a>
        </nav>
      </div>
      <div class="col-lg-9">
        <!-- Content -->
        <h2>Getting Started</h2>
        <p>Thank you for choosing BidMart as your online bidding platform. This Help Center is designed to provide you with the information you need to get started using our service.</p>
        <h3>Create an Account</h3>
        <p>To use BidMart, you will need to create an account. You can do this by clicking the "Sign Up" button in the top right corner of the homepage. Follow the prompts to enter your personal information and create a password. Once you have created an account, you will be able to start bidding on auctions.</p>
        <h3>Browse and Bid on Auctions</h3>
        <p>Once you have created an account, you can browse and bid on auctions. To find an auction, use the search bar at the top of the homepage or browse the categories. When you find an item you want to bid on, click the "Bid Now" button and enter your bid amount. You will be notified if you are outbid on an item.</p>
        <h3>Winning an Auction</h3>
        <p>If you win an auction, you will be notified by email. You will then need to complete the payment process to receive your item. Please see the "Payments" section of this Help Center for more information on how to make a payment.</p>
      </div>
    </div>
  </div>

