<% layout("layouts/boilerplate") %>
<main class="container my-5 p-5 mb-5" style="background-color: #f9f9f9;">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <header>
        <h1 class="mb-5 text-center" style="font-size: 40px;">Submit Your Ideas for BidMart</h1>
        <div class="mb-4">
          <p class="lead mb-5" style="font-size: 18px;">
            We're always looking for ways to improve our platform, and your ideas and feedback are essential to helping us grow. Use the form below to share your thoughts and suggestions with us.
          </p>
        </div>
        <hr class="my-4">
      </header>
      <form method="post" action="/submit-an-idea" class="needs-validation" novalidate style="padding: 20px; background-color: white; border-radius: 10px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);">
        <div class="mb-3">
          <label for="name" class="form-label"><i class="bi bi-person-fill"></i> Name</label>
          <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter your name to continue
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i> Email address</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter your email address to continue
          </div>
        </div>
        <div class="mb-3">
          <label for="ideatitle" class="form-label"><i class="bi bi-lightbulb-fill"></i> Idea Title</label>
          <input name="ideatitle" type="text" class="form-control" id="ideatitle" placeholder="Enter a title for your idea" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter your idea title to continue
          </div>
        </div>
        <div class="mb-3">
          <label for="ideaDescription" class="form-label"><i class="bi bi-pencil-fill"></i> Idea Description</label>
          <textarea name="ideaDescription" class="form-control" id="ideaDescription" rows="5" placeholder="Enter a description of your idea" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Enter your idea description to continue
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</main>
        











