.product-card {
    height: 450px;
  }
  .product-card .image-container {
    height: 250px;
    overflow: hidden;
  }
  
  .product-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .description-ellipsis {
    margin-left: 4px;
    margin-right: 4px;
  }

  .description-toggle {
    color: #007bff;
    cursor: pointer;
  }

