body {
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
  }

  .carousel-inner {
    height: 500px; /* adjust the height to your desired value */
    border-radius: 20px; /* set the desired border-radius */
    overflow: hidden;
  }
  
  .carousel-inner img {
    object-fit: cover;
  }

  .footer-links a {
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .password-input {
    padding-right: 2.5rem;
  }

  .password-toggle-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
  }


  .password-toggle-icon {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    padding: 0;
    margin-left: -30px; /* adjust as needed */
    color: #6c757d;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .password-toggle-icon:hover {
    color: #343a40;
  }
  
  .table td a {
    text-decoration: none;
    color: #333;
  }
  .table td a:hover {
    color: #007bff;
    text-decoration: underline;
  }

 .logo {
  width: 140px; 
  height:30px; 
  object-fit: contain;
 }
