<% layout("layouts/boilerplate") %>
<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 mt-5">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="text-center mb-4">Change Password</h4>
          <form action="/change-password" method="post" class="needs-validation" novalidate>
            <div class="form-group mb-3">
              <i class="fas fa-user"></i>
              <label for="oldPassword">Old Password<span class="text-danger">*</label>
              <input required placeholder="Enter your old password" class="form-control" type="password" id="oldPassword" name="oldPassword" value="<%= formData ? formData.oldPassword : '' %>">
              <div class="invalid-feedback">
                Enter your old password to continue.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="form-group mb-3">
              <i class="fas fa-lock"></i>
              <label for="newPassword">New Password<span class="text-danger">*</label>
              <input required placeholder="Enter your new password" class="form-control" type="password" id="password" name="newPassword" value="<%= formData ? formData.newPassword : '' %>">
              <div class="invalid-feedback">
                Enter your new password to continue.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div id="password-strength-meter" class="mt-2"></div>
              <div id="password-strength-text" class="text-muted"></div>
            </div>

            <div class="form-group mb-3">
              <i class="fas fa-lock"></i>
              <label aria-placeholder="Confirm your password" for="confirmNewPassword">Confirm Password<span class="text-danger">*</label>
              <input required class="form-control" type="password" id="confirmNewPassword" name="confirmNewPassword" value="<%= formData ? formData.confirmNewPassword : '' %>">
              <div class="invalid-feedback">
                Confirm your new password to continue.
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-block mt-4">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/passwordStrength.js"></script>




