<% layout("layouts/boilerplate") %>
<h1>Change Password</h1>
<form action="/change-password" method="post" class="needs-validation" novalidate>

    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input type="password" id="oldPassword" name="oldPassword" value="<%= formData ? formData.oldPassword : '' %>">
    </div>

    <div class="form-group">
      <label for="oldPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" value="<%= formData ? formData.newPassword : '' %>">
    </div>

    <div class="form-group">
      <label for="oldPassword">Confirm Password</label>
      <input type="password" id="confirmNewPassword" name="confirmNewPassword" value="<%= formData ? formData.confirmNewPassword : '' %>">
    </div>
    
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>

