<% layout("layouts/boilerplate") %>
<h1>Forgot Password</h1>
<form action="/forgot" method="post">
  <div class="form-group">
    <label for="email"><i class="fas fa-envelope"></i> Email address</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
<button type="submit" class="btn btn-primary"><i class="fas fa-key"></i> Reset Password</button>

</form>