<% layout("layouts/boilerplate") %>
<div class="container my-5">
  <h1 class="text-center mb-4">Personal Details</h1>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <a class="btn btn-warning" href="/password">Change password</a>
      <form action="/profile/<%= user._id %>?_method=PUT" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" value="<%= user.email %>" required>
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">Mobile number</label>
          <input type="tel" name="number" class="form-control" value="<%= user.number %>" required>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
