<% layout("layouts/boilerplate") %>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
      <h1 class="text-dark text-center">Create an Account</h1>
      <div class="card shadow mt-5 mb-5">
        <div class="mb-3 mt-3">
          <h1 class="text-center mb-4"><i class="fas fa-gavel"></i> BidMart</h1>
        </div>
        <div class="card-body">
          <form action="/register" class="needs-validation" method="post" novalidate>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label" for="firstname">First name<span class="text-danger">*</span></label>
                <input placeholder="Enter your first name" class="form-control" type="text" name="firstname" id="firstname" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Enter a first name to continue.
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label" for="lastname">Last name<span class="text-danger">*</span></label>
                <input placeholder="Enter your last name" class="form-control" type="text" name="lastname" id="lastname" required>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Enter a last name to continue.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="email">Email address<span class="text-danger">*</span></label>
              <input placeholder="Enter your email" class="form-control" type="email" name="email" id="email" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Enter an email to continue.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="username">Username<span class="text-danger">*</span></label>
              <input placeholder="Enter your username" class="form-control" type="text" name="username" id="username" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Enter a username to continue.
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password<span class="text-danger">*</span></label>
              <input placeholder="Enter your password" class="form-control" type="password" name="password" id="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Enter a password to continue.
              </div>
              <div id="password-strength-meter" class="mt-2"></div>
              <div id="password-strength-text" class="text-muted"></div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="number">Mobile number<span class="text-danger">*</span></label>
              <input placeholder="Enter phone number eg +2779" class="form-control" type="text" name="number" id="number" required>
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Enter a mobile number to continue.
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-block" type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/scripts/passwordStrength.js"></script>

