<% layout("layouts/boilerplate") %>
<h1>Reset Password</h1>
<form action="/reset/<%= token %>" method="post">
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" name="password" minlength="8" required>
  </div>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

